/* Stylesheet 1: */
body {
  background-color: #f5e8b7;
  padding: 0 10%;
}

.navbar,
.dropdown-menu {
  background-color: #8f2c2c;
}

.navbar .nav-item,
.navbar .nav-item .nav-link,
.navbar .dropdown-item {
  color: #e0ba31;
  font-family: 'Verdana', Courier, monospace;
  font-weight: 600;
  text-shadow: 1px 0 0.5px black;
  font-size: 1rem;
}

.navbar .nav-item:hover,
.navbar .nav-item .nav-link:hover,
.navbar .dropdown-item:hover {
  background-color: #8f2c2c;
  font-family: 'Verdana', Courier, monospace;
}

.header {
  overflow: hidden;
  background-color: beer;
  padding: 20px 10px;
}

.header a {
  float: center;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

h3 {
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: 'Verdana', sans-serif;
}

h4 {
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: 'Verdana', sans-serif;
}

h5 {
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: 'Verdana', sans-serif;
}

.paragraph1 {
  font-size: 25px;
}

.logo1 {
  padding-top: 10px;
}

.logo2 {
  padding-top: 35px;
}

.dropdown-toggle::after {
  content: none;
}

.text-maroon {
  color: #8f2c2c;
}

.text-gold {
  color: #e0ba31;
}

/* .container-fluid {
         padding: 0 20%;
      } */
