/* Stylesheet 1: */
body {
  background-color: #f5e8b7;
  /* padding: 0 10%; */
}

.navbar,
.dropdown-menu {
  background-color: #8f2c2c;
}

.navbar .nav-item,
.navbar .nav-item .nav-link,
.navbar .dropdown-item {
  color: #e0ba31;
  font-family: 'Verdana', Courier, monospace;
  font-weight: 600;
  text-shadow: 1px 0 0.5px black;
  font-size: 0.7rem;
}

.navbar .nav-item:hover,
.navbar .nav-item .nav-link:hover,
.navbar .dropdown-item:hover,
.navbar .nav-item:active,
.navbar .dropdown-item:active {
  color: white;
  text-shadow: 1px 0 0.5px #e4cf19;
  font-family: 'Verdana', Courier, monospace;
}
.navbar .fas.fa-bars {
  color: #e0ba31;
  font-size: 28px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.header {
  overflow: hidden;
  background-color: beer;
  padding: 20px 10px;
}

.header a {
  float: center;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: rgb(214, 172, 33);
}

h3 {
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: 'Verdana', sans-serif;
}

h4 {
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: 'Verdana', sans-serif;
}

h5 {
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: 'Verdana', sans-serif;
}

.paragraph1 {
  font-size: 25px;
}

.logo1 {
  padding-top: 10px;
}

.logo2 {
  padding-top: 35px;
}

.dropdown-toggle::after {
  content: none;
}

.text-maroon {
  color: #8f2c2c;
}

.text-gold {
  color: #e0ba31;
}
.fs-7 {
  font-size: 0.7rem;
}
.reserved .cic {
  font-size: 12px;
}
.reserved .rights {
  font-size: 8px;
}
@media screen and (max-width: 500px) {
  .contact-home {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .navbar .nav-item,
  .navbar .nav-item .nav-link,
  .navbar .dropdown-item {
    color: #e0ba31;
    font-family: 'Verdana', Courier, monospace;
    font-weight: 600;
    text-shadow: 1px 0 0.5px black;
    font-size: 0.8rem;
  }
}

/* .container-fluid {
         padding: 0 20%;
      } */
